<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
</head>
<body class="container">

<header>
    <%- include ('../partials/header') %>
</header>

<main>
    <div class="jumbotron">
        <h3>About me</h3>
        <ul>
            <li>前端开发工程师</li>
        </ul>

        <h5>To be</h5>
        <ul>
            <li>架构师</li>
            <li>独立开发者</li>
        </ul>
    </div>
</main>

<footer>
    <%- include ('../partials/footer') %>
</footer>

</body>
</html>