<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
</head>
<body class="container">

<header>
    <%- include ('../partials/header') %>
</header>

<main>
    <div class="jumbotron">
        <h3>我的网站</h3>
        <ul>
            <li>
                <a href="https://wuxiao.io">wuxiao.io</a>
            </li>
            <li>
                <a href="http://blog.weisuoke.com">博客</a>
            </li>
        </ul>

        <br>

        <h4>文档</h4>
        <ul>
            <li><a href="http://mk-fe-bigfe.wuxiao.io" target="_blank">慕课网-大前端</a></li>
            <li><a href="http://mk-fe-advance.wuxiao.io" target="_blank">慕课网-Web前端架构师</a></li>
            <li><a href="http://mk-java-basic.wuxiao.io" target="_blank">慕课网-Java工程师</a></li>
            <li><a href="http://mk-algorithm-basic.wuxiao.io" target="_blank">慕课网-算法体系课</a></li>
            <li><a href="http://zf-vue3.wuxiao.io" target="_blank">珠峰架构-vue3</a></li>
            <li><a href="http://zf-react.wuxiao.io" target="_blank">珠峰架构-react</a></li>
            <li><a href="http://zf-webpack.wuxiao.io" target="_blank">珠峰架构-webpack</a></li>
            <li><a href="http://zzl-2021.wuxiao.io" target="_blank">前端早早聊-2021</a></li>
        </ul>
    </div>
</main>

<footer>
    <%- include ('../partials/footer') %>
</footer>

</body>
</html>
