<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
</head>
<body class="container">

<header>
    <%- include ('../partials/header') %>
</header>

<main>
    <div class="jumbotron">
        <h3>我的网站</h3>
        <ul>
            <li>
                <a href="https://wuxiao.io">wuxiao.io</a>
            </li>
            <li>
                <a href="https://blog.weisuoke.com">博客</a>
            </li>
        </ul>
    </div>
</main>

<footer>
    <%- include ('../partials/footer') %>
</footer>

</body>
</html>