<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
</head>
<body class="container">

<header>
    <%- include ('../partials/header') %>
</header>

<main>
    <div class="jumbotron">
        <h3>TodoList</h3>

        <br>

        <h4>前端</h4>
        <ul>
            <li>
                <input type="checkbox" /> jest + rtl
                <ul>
                    <li>StyleGuidist vs Storybook</li>
                </ul>
            </li>
            <li>
                <input type="checkbox" /> Udemy - Gatsby 教程
            </li>
            <li>
                <input type="checkbox" /> Gatsby 博客系统搭建 （wuxiao.io）
            </li>
            <li>
                <input type="checkbox" /> Udemy - GraphQL 教程
            </li>
            <li>
                <input type="checkbox" /> 部署 Sentry
            </li>
            <li>
                <input type="checkbox" /> 部署 sonar
            </li>
            <li>
                <input type="checkbox" /> 部署 Gitlab
            </li>
            <li>
                <input type="checkbox"> CI/CD
                <ul>
                    <li>Jenkins</li>
                    <li>Docker</li>
                    <li>K8s</li>
                    <li>Github Actions</li>
                </ul>
            </li>
            <li>
                <input type="checkbox" /> nest
            </li>
            <li>
                <input type="checkbox" /> 2021.5.19
                <ul>
                    <li>研究Sablejs，以及他背后的原理和竞品 https://cnodejs.org/topic/60a470ea4d20cb4f15694716</li>
                    <li>研究https://github.com/chris-paul/react-delicacies，并集成到自己的项目中去</li>
                    <li>微前端框架qiankun-文档阅读</li>
                </ul>
            </li>
            <li>
                <input type="checkbox" /> 2021.5.20
                <ul>
                    <li>研究Sablejs，以及他背后的原理和竞品 https://cnodejs.org/topic/60a470ea4d20cb4f15694716</li>
                </ul>
            </li>
        </ul>

        <br>

        <h4>后端</h4>
        <h5>Java</h5>
        <ul>
            <li>
                <input type="checkbox" /> 马士兵 Java零基础后端工程师
            </li>
        </ul>
        <h5>PHP</h5>
        <ul>
            <li>
                <input type="checkbox" /> 本地PHP环境搭建
            </li>
            <li>
                <input type="checkbox" /> ThinkPHP文档阅读
            </li>
        </ul>
        <br>

        <h4>培训视频</h4>
        <ul>
            <li>iMooc - Java - Java架构师技术专家(mk-java-advance.wuxiao.io)</li>
            <li>iMooc - Java - Java架构师十项全能(mk-java-pro.wuxiao.io)</li>
            <li>iMooc - Java - Java全栈工程师(mk-java-fullstack.wuxio.io)</li>
            <li>iMooc - Go - Go开发工程师(mk-go-basic.wuxiao.io)</li>
            <li>iMooc - Go - Go高级工程师实战营(mk-go-advance.wuxiao.io)</li>
            <li>iMooc - Android - Android工程师(mk-android-basic.wuxiao.io)</li>
            <li>iMooc - Android - 移动端架构师(mk-android-advance.wuxiao.io)</li>
            <li>kkb - 架构 - 百万年薪架构师</li>
            <li>kkb - 算法 - 门徒计划(kkb-algorithm-mentu.wuxiao.io)</li>
        </ul>

        <h4>算法面试准备</h4>
        <ul>
            <li>前端进阶算法：常见算法题及完美题解 https://juejin.cn/post/6844904138044604424</li>
            <li>写给前端的算法进阶指南，我是如何两个月零基础刷200题 https://juejin.cn/post/6847009772500156429</li>
        </ul>
    </div>
</main>

<footer>
    <%- include ('../partials/footer') %>
</footer>

</body>
</html>
