<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
</head>
<body class="container">

<header>
    <%- include ('../partials/header') %>
</header>

<main>
    <div class="jumbotron">
        <h3>Workflow</h3>

        <br>

        <ul>
            <li>
                输入（视频教程） 👉 输出（typora（文档）+ github 仓库）👉 wuxiao.io & blog.weisuoke.com
            </li>
        </ul>
    </div>
</main>

<footer>
    <%- include ('../partials/footer') %>
</footer>

</body>
</html>